body {
  background: red;
}

#content {
	margin: 2em;
}

#hero {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    background: url('../assets/about-hero.jpg') no-repeat fixed;
	background-size: cover;
	height: 90vh;
}

#intro {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: auto;
}

.whatIDo {
	margin: 40px;
}

/* About Styles */

#about {
  background-color: #212b52;
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;
  margin-left: -100px;
  margin-right: -70px;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  transform:rotate(-5deg);
  overflow:hidden;
  height: 60vh;
}

#about #aboutText {
  margin: 2em 2em 2em 5em;
  padding: 0.3em;
  color: white;
  transform: rotate(5deg);
}



/* Experience Styles */

#experience {
	background-color: white;
	padding-top: 100px;
}

/* Education Styles */

#education > * {
  color: #333;
}

#education {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: auto auto;
    background: red;
}

.education-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: 200px auto;
    position: relative;
}