body {
  background: red;
}

#content {
	margin: 2em;
}

#hero {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    overflow: auto;
    background: url('../assets/about-hero.jpg') no-repeat fixed;
	background-size: cover;
	height: 90vh;
}

/* Intro & What I Do */

#intro {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: white;
}

.whatIDo {
	margin: 40px;
}

#intro div:first-child {
  margin-left: 6em;
}

#intro div:last-child {
  margin-right: 6em;
}

.whatIDo i {
    display: inline-block;
    border-radius: 60px;
    background-color: #F32773;
    padding: 0.5em;
    color: #fff;
    margin-bottom: 16px;
}

.whatIDo h3, .whatIDo h5 {
  color: #333;
}

.whatIDo h3 {
  font-weight: 400;
}

/* About Styles */

#about {
  background-color: #212b52;
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;
  margin-left: -100px;
  margin-right: -70px;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  transform:rotate(-5deg);
  overflow:hidden;
  height: 60vh;
}

#about #aboutText {
  margin: 2em 2em 2em 5em;
  padding: 0.3em;
  color: white;
  transform: rotate(5deg);
}



/* Experience Styles */

#experience {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#experience h2, #experience h4, #experience h5 {
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0;
}

#experience h2 {
  font-weight: 600;
}

.experiencePosition {
  width: 82%;
  margin: 1em 8.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.experiencePosition:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

#experience div:nth-of-type(2) {
  margin: 1em -10em;
}

#experience div:nth-of-type(3) {
  margin: 1em 9.5em;
}

#experience h4 {
  display: inline-block;
}

#experiencePosition.date {
  width: 18%;
  text-align: right;
}

.more-info h4 {
  width: 100%;
}

.more-info {
  margin-left: 3em;
  width: 26%;
}

.opposite-date {
  position: relative;
  right: 2em;
}

.opposite-day {
  margin-right: 5em;
}

#verticalLine {
  border-left: thick solid red;
  height: 100%;
  left: 50vw;
  position: absolute;
  z-index: 99;
}

/* Education Styles */

#education > * {
  color: #333;
}

#education {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: auto auto;
    background: #36cad5;
}

.education-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: 200px auto;
    position: relative;
}