/* Global styles */

html {
	font-family: "lato", "helvetica", sans-serif;
	font-size: 16px;
	letter-spacing: 0.15em;
	margin: 0;
}

body {
	margin: 0;
	overflow: auto;
}

#container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100vh;
}

.vertical-align {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
 	font-weight: normal;
 	text-decoration: underline;
 	color: #f32773;
 }

a:active {
 	font-weight: normal;
 	text-decoration: none;
 	color: #ffffff;
 }

 li {
 	list-style: none;
  display: inline-block;
 }

/* Main Nav and Header Styles */

header {
	grid-column: 1 / -1;
	position: fixed;
  width: 100%;
  background-color: #212b52;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
  z-index: 100;
}

#mainNav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

#mainNav > * {
	display: inline-block;
}

.logo img {
	width: 50px;
}

#mainNav ul {
	justify-self: end;
	margin: 24px 40px 0 0;
}

#mainNav li a {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  margin-left: 1em;
}

#mainNav li a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #f32773;
 }

/*Hero styles */

#hero {
  grid-column: 1 / -1;
  background-size: cover;
  height: 90vh;
  text-align: center;
  overflow: auto;
  background: url('../assets/bg.jpg') no-repeat fixed;
}

#hero div {
  color: #fff;
}

#hero div h1 {
  font-size: 6em;
  margin: 0;
}

#hero div h3 {
  font-weight: normal;
}

/* Project Grid styles */

#content {
    grid-column: 1 / -1;
    z-index: 99;
}

#featuredProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: 400px 400px;
}

#smallProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: 200px 200px;
    background-color: orange;
}

#content h2, h4 {
  text-transform: uppercase;
  color: #fff;
}

#featuredProjects figure {
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

#featuredProjects figure img {
  width: 100%;

}

/* Contact Styles */

/* Contact styles */

#contact {
  background-color: #212b52;
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top:200px;
  margin-left:-100px;
  margin-right:-50px;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  transform:rotate(-5deg);
  overflow:hidden;
  height: 60vh;
  margin-bottom: -100px;
}

#contact h2 {
  color: white;
}

#contact h3 {
  color: white;
  font-weight: normal;
  margin: 0.5em;
}

#contact a {
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  padding: 0.3em;
  transition: color 1s ease;
  color: white;
  transform: rotate(0deg);
}

#contact a:hover {
  color: #F32773;
}

.contact-content {
  transform: rotate(5deg);
  margin-top: 18%;
}


/* Footer styles */

footer {
    grid-column: 1 / -1;
    background-color: #e7e8e8;
    text-align: center;
    z-index: 999;
    color: #333;
}

footer ul {
  display: inline-block;
  padding: 0;
}

#footer ul li i {
  display: inline-block;
  border-radius: 60px;
  background-color: #F32773;
  padding: 0.3em;
  margin-right: 25px;
  transition: background-color 1s ease;
}

#footer ul li i:hover {
  background-color: #36cad5;
  color: white;
}

#footer p {
  margin: 0 0 1em 0;
  padding: 0;
}
