/* Global styles */

html {
	font-family: "lato", "helvetica", sans-serif;
	font-size: 16px;
	letter-spacing: 0.15em;
	margin: 0;
}

body {
	margin: 0;
	overflow: auto;

}

#container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 80vh auto auto;
    background-color: pink;
    overflow: auto;
}

/* Main Nav and Header Styles */

header {
	grid-column: 1 / -1;
	position: fixed;
  	width: 100%;
  	background-color: #212b52;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
  	z-index: 100;
}

#mainNav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

#mainNav > * {
	display: inline-block;
}

.logo img {
	width: 50px;
}

#mainNav ul {
	justify-self: end;
	margin: 24px 40px 0 0;
}

#mainNav ul li {
	list-style: none;
	display: inline-block;
}

#hero {
    grid-column: 1 / -1;
    background-color: blue;
}

#content {
    grid-column: 1 / -1;
    background-color: purple;
}

footer {
    grid-column: 1 / -1;
    background-color: green;
}